<h1><%= @cuisine_type.name %> Restaurants</h1>

<%= form_tag "/cuisine_types/#{@cuisine_type.id}", method: :get, remote: true do %>
	Search:
	<%= text_field_tag :query %>
	<%= submit_tag "Search" %>
<% end %>

<br></br>

<div id="restaurant-list">
	<%= render partial: "restaurant_list" %>
</div>