<h1> Reservations for <%= @restaurant.name %></h1>

<table class ="table" class="table-striped" border="1">
<tr>
<td>Reservation time</td>
<td>Party size</td>
</tr>
<tr>
<% @reservations.each do |reservation| %>
<td>
	<%= reservation.seating_time %>
</td>
<td>
	<%= reservation.party_size %>
</td>
</tr>
</table>

<% end %>

<br>
<a href="/restaurants/<%= @restaurant.id %>/reservations/new"> 
Create another reservation at <%= @restaurant.name %>
</a>

<br>
<a href="/restaurants/">
Go back to restaurant list
</a>

<br>
<a href ="/cuisine_types/">
Go back to cuisine types
</a>

</table>