<h1>Create New Reservation at <%= @restaurant.name %> </h1>

<%= form_for [@restaurant, @reservation] do |f| %>

<p>
<%= f.label :seating_time %>
<%= f.datetime_select :seating_time %>
</p>

<p>
<%= f.label :party_size %>
<%= f.text_field :party_size %>

<p><%= f.submit %></p>

<% end %>