<h1>Create New Reservation at <%= @restaurant.name %> </h1>

<% if @reservation.errors.messages.any? %>
	<% @reservation.errors.full_messages.each do |message| %>
	<p>Error: <%= message %></p>
	<% end %>
<% end %>

<%= form_for [@restaurant, @reservation] do |f| %>

<p>
<%= f.label :seating_time %>
<%= f.datetime_select :seating_time %>
</p>

<p>
<%= f.label :party_size %>
<%= f.text_field :party_size %>
</p>

<p> Confirm by typing in the ID (<%= @restaurant.id %>)</p>
<%= f.label :restaurant_id %> ID
<%= f.text_field :restaurant_id %>
</p>

<p><%= f.submit %></p>

<% end %>