<h1><%= @restaurant.name %></h1>

<p>Capacity: <%= @restaurant.capacity %></p>
<p><%= image_tag @restaurant.photo.thumb.url %></td></p>

<a href = "/restaurants/<%= @restaurant.id %>/edit">
<p>Edit Restaurant</p>

<a href = "/restaurants/<%= @restaurant.id %>/reservations/new">
<p>Reserve Seats</p>
</a>

Review List:
<div id="review-list">
<%= render partial: "/reviews/list" %>
</div>

<p>Add a new review</p>
<%= form_for [@restaurant, @review], remote: true do |f| %>

    <label> Review Text: </label><br>
    <p>
    <%= f.text_area :review_text %>
    </p>
    
    <p>
    <%= f.submit "save review" %>
    </p>
    
<% end %>
