<h1><%= @restaurant.name %></h1>

<p>Capacity: <%= @restaurant.capacity %></p>
<p><%= image_tag @restaurant.photo.thumb.url %></td></p>

<a href = "/restaurants/<%= @restaurant.id %>/edit">
<p>Edit Restaurant</p>

<a href = "/restaurants/<%= @restaurant.id %>/reservations/new">
<p>Reserve Seats</p>
</a>


<div id="review-list">
<% render partial: "/reviews/list" %>
</div>

<%= form_for [@restaurant, @review], remote: true do |f| %>

    <label> Content: </label><br>
    <p>
    <%= f.text_field :review_text %>
    </p>
    
    <p>
    <%= f.submit "save review" %>
    
<% end %>

<a href = "/restaurants/<%= @restaurant.id %>/reviews">
<p>View Reviews</p>
</a>