<!DOCTYPE html>
<html>
<head>
  <title>Resto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--need to add the navbar class in css-->
<!-- also need to fix my paths with my routes-->

<p class="navbar">
<% if current_user %>
	<%= link_to "Logout", logout_path, method: :delete %>
	<% else %>
		<%= link_to "Sign Up", new_restaurant_user_path %>
		<%= link_to "Login", login_path %>
	<% end %>

<%= yield %>

</body>
</html>
